/*### Navbar ###*/

.navbar {
  width: 100%;
  height: 30px;
  padding: .5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1a1a1a;
  font-size: 2rem;

  position: fixed;
  top: 0;
  left: 0;
}

/*### Product List ###*/

.track-list-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.track-list-wrapper h1 {
  text-align: center;
}

.track-list {
  max-width: 90%;
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.list-item {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: fit-content;
}

.list-item:hover {
  border-color: #646cff;
}
.list-item:focus,
.list-item:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/*### Product Card ###*/
.product-card {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 2em;
  flex-direction: row;
  gap: 2em;
}

.product-title {
  font-size: 3rem;
}

.product-sale {
  color: red;
  margin-left: 1rem;
}

.product-image {
  box-sizing: border-box;
  border-radius: 5px;
  width: 60%;
  height: auto;
  margin: 1em;
}

.product-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.size-grid {
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.size-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
}

/*### History List ###*/
.history-table {
  width: 100%;
  max-height: 40vh;
  margin: 0 auto;
}

.table-title {
  display: flex;
  align-items: center;
  width: 100%;
}

.table-title svg {
  margin-left: auto;
  margin-right: 1rem;
  cursor: pointer;
}

.table-title svg:hover {
  color: #646cff;
}

tr {
  height: 10%;
}

tr:nth-child(even) {
  background-color: #1a1a1a;
  border-radius: 8px;
}

th {
  font-weight: bold;
}

th, td {
  text-align: center;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  height: fit-content;
  max-height: 20px;
}

.history-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin: 2em 0;
}

.history-pagination div:not(.active-page) {
  cursor: pointer;
}

.history-pagination div:hover:not(.active-page) {
  color: gray;
}

.active-page {
  font-weight: bold;
  color: #646cff;
}


/*### Call to Action ###*/
.call-to-action h1 {
  width: 100%;
  text-align: center;
}

.mission-statement {
  width: 80%;
  max-width: 1000px;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 auto;
  color: gray;
}

/*### URL input ###*/
.input-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-section p {
  font-size: 1.2rem;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

.url-input {
  width: 80%;
  max-width: 300px;
}

/*### Line Chart ###*/
.line-chart-title {
  color: #242424;;
  text-align: center;
}

.line-chart-wrapper {
  width: 80%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.exit-line-chart {
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
}

.exit-line-chart:hover {
  transform: scale(1.2);
}
